<div class="tabbable">
    <ul class="nav nav-tabs simple">
        <li ng-class="{active: settings.current.name === 'EERS'}">
            <a href="javascript:void(0)" ng-click="settings.switchProject('EERS')">
                Entrée en relation souscription</a>
        </li>
        <li ng-class="{active: settings.current.name === 'EC'}">
            <a href="javascript:void(0)" ng-click="settings.switchProject('EC')">Espace client</a>
        </li>
        <li ng-class="{active: settings.current.name === 'BSS'}">
            <a href="javascript:void(0)" ng-click="settings.switchProject('BSS')">BSS</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in">
            <h1>Paramétrage de {{settings.current.longName}}</h1>

            <form id="form" action="#" role="form" class="form-horizontal">

                <div class="content-group content-boxed">
                    <div class="form-group">
                        <label class="col-sm-3">Cluster</label>

                        <div class="col-sm-6">
                            <label class="checkbox-block">
                                <input name="cluster" class="grey" type="checkbox" ng-model="settings.current.cluster"
                                       icheck>

                                <div class="m-help-button information" popover-trigger="mouseenter"
                                     popover="Si l'application est deployée sur un cluster,
                                          il est nécessaire d'indiquer toutes les IPs du cluster"></div>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">URL de monitoring</label>

                        <div class="col-sm-8">
                            <input name="url" placeholder="http://mon_serveur/app/manage" class="form-control"
                                   type="url" ng-model="settings.current.url">

                        </div>
                        <div class="m-help-button information" popover-trigger="mouseenter"
                             popover="URL pour accéder aux endpoints de monitoring. La dernière partie de l'URL
                                 doit correspondre à la propriéré 'management.context-path' de Spring Boot"></div>
                    </div>
                    <div class="form-group"></div>
                </div>
            </form>
        </div>
        <button class="btn btn-grey btn-squared pull-left">Annuler</button>
        <button class="btn btn-primary btn-squared pull-right">Continuer</button>
        <div class="clearfix"></div>
        </form>
    </div>
</div>
</div>