<div class="tabbable">
    <ul class="nav nav-tabs simple">
        <li ng-class="{active: settings.app.name === 'EERS'}">
            <a href="javascript:void(0)" ng-click="settings.switchProject('EERS')">
                Entrée en relation souscription</a>
        </li>
        <li ng-class="{active: settings.app.name === 'EC'}">
            <a href="javascript:void(0)" ng-click="settings.switchProject('EC')">Espace client</a>
        </li>
        <li ng-class="{active: settings.app.name === 'BSS'}">
            <a href="javascript:void(0)" ng-click="settings.switchProject('BSS')">BSS</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in">
            <h1>Paramétrage de {{settings.app.longName}}</h1>

            <form id="form" action="#" role="form" class="form-horizontal">

                <div class="content-group content-boxed">
                    <div class="form-group">
                        <label class="col-sm-3">Intervale</label>

                        <div class="col-sm-6">
                            <select class="form-control" ng-model="settings.interval">
                                <option value="">Veuillez sélectionner un intervalle</option>
                                <option value="1">1 seconde</option>
                                <option value="5">5 secondes</option>
                                <option value="10">10 secondes</option>
                                <option value="30">30 secondes</option>
                                <option value="60">1 minute</option>
                                <option value="600">10 minutes</option>
                                <option value="1800">30 minutes</option>
                                <option value="3600">1 heure</option>
                            </select>

                            <div class="m-help-button information input-absolute" popover-trigger="mouseenter"
                                 popover="Intervalle entre chaque récupération des métriques">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Cluster</label>

                        <div class="col-sm-6">
                            <label class="checkbox-block">
                                <input name="cluster" class="grey" type="checkbox" ng-model="settings.app.cluster"
                                       icheck>

                                <div class="m-help-button information" popover-trigger="mouseenter"
                                     popover="Si l'application est deployée sur un cluster,
                                          il est nécessaire d'indiquer toutes les IPs du cluster"></div>
                            </label>
                        </div>
                    </div>
                    <div class="form-group" ng-hide="settings.app.cluster">
                        <label class="col-sm-3">URL de monitoring</label>

                        <div class="col-sm-6">
                            <input name="url" placeholder="http://mon_serveur/app/manage" class="form-control"
                                   type="url" ng-model="settings.app.url">

                            <div class="m-help-button information input-absolute" popover-trigger="mouseenter"
                                 popover="URL pour accéder aux endpoints de monitoring. La dernière partie de l'URL
                                 doit correspondre à la propriéré 'management.context-path' de Spring Boot"></div>
                        </div>
                    </div>
                    <div ng-show="settings.app.cluster">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Numéro</th>
                                <th>URL de monitoring</th>
                                <th class="col-sm-1">Statut</th>
                                <th class="col-sm-1">Supprimer</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(i, instance) in settings.app.instances track by $index">
                                <td>Instance n° {{i}}</td>
                                <td><input type="text" ng-model="instance.url"/></td>
                                <td class="center">
                                    <i ng-class="settings.statusIcon(instance.status)"></i>
                                </td>
                                <td class="center">
                                    <button class="btn btn-danger btn-squared btn-sm">
                                        <i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="form-group">

                            <div class="col-sm-6">
                                <input placeholder="http://mon_ip/app/manage" class="form-control" type="text"
                                       ng-model="settings.app.toAddInstance"/>

                                <div class="m-help-button information input-absolute" popover-trigger="mouseenter"
                                     popover="URL pour accéder aux endpoints de monitoring. La dernière partie de l'URL
                                 doit correspondre à la propriéré 'management.context-path' de Spring Boot"></div>
                            </div>
                            <div class="col-sm-4 pull-right">
                                <button type="button" class="btn btn-squared btn-primary"
                                        ng-click="settings.addInstance()">
                                    <i class="fa fa-plus"></i>
                                    Ajout d'une instance
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <button class="btn btn-grey btn-squared pull-left">Annuler</button>
        <button class="btn btn-primary btn-squared pull-right">Continuer</button>
        <div class="clearfix"></div>
        </form>
    </div>
</div>
</div>