<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MforMonitoring">
    <meta name="author" content="jntakpe">

    <title>MforMonitoring</title>

    <link rel="shortcut icon" href="static/images/favicon.ico">
    <link rel="stylesheet" href="static/css/css-core.min.css"/>
    <link rel="stylesheet" href="static/css/css-theme.css"/>
    <link rel="stylesheet" href="static/css/mfm.css"/>
</head>
<body class="layout-boxed ec-layout" ng-app="mfmApp">
<div class="main-wrapper">
    <div class="site-canvas">
        <header class="ec-header navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">
                        <img src="static/images/logo.svg" alt="Banque en ligne - BforBank">
                    </a>
                </div>
                <ul class="nav navbar-header-toolbar">
                    <li><a href="/logout"><i class="fa fa-power-off"></i>DÉCONNEXION</a></li>
                    <li><a href="#"><i class="fa fa-phone"></i>PARAMÈTRES</a></li>
                </ul>
            </div>
        </header>
        <header class="ec-header-sm">
            <a href="#" class="ec-header-sm-menu toggle-nav">☰</a>
            <a href="#" class="ec-header-sm-logout"><i class="fa fa-power-off"></i></a>

            <div class="ec-header-sm-logo">
                <img src="static/images/logo.svg" alt="Banque en ligne - BforBank">
            </div>
        </header>
        <div class="nav-left" ng-controller="MenuCtrl as menu">
            <nav class="navbar-content" ng-init="menu.activeMenu = 'projects'">
                <div class="main-navigation left-wrapper transition-left">
                    <ul class="main-navigation-menu">
                        <li ng-click="menu.activeMenu = 'projects'"
                            ng-class="menu.activeMenu === 'projects' ? 'active' : ''">
                            <a href="javascript:void(0)"><i class="fa fa-calculator"></i>
                                <span class="title"> Projets</span></a>
                            <ul class="sub-menu">
                                <li><a href="javascript:void(0)">Entrée en relation</a></li>
                                <li class="active"><a href="javascript:void(0)">Espace client</a>
                                    <ul class="sub-menu">
                                        <li class="active"><a href="javascript:void(0)">
                                            Dashboard
                                        </a></li>
                                        <li><a href="javascript:void(0)">
                                            Métriques
                                        </a></li>
                                        <li><a href="javascript:void(0)">
                                            Historique
                                        </a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)">BSS</a></li>
                                <li><a href="javascript:void(0)">États</a></li>
                            </ul>
                        </li>
                        <li ng-click="menu.activeMenu = 'services'"
                            ng-class="menu.activeMenu === 'services' ? 'active' : ''">
                            <a href="javascript:void(0)"><i class="fa fa-exchange"></i>
                                <span class="title"> Services </span></a>
                            <ul class="sub-menu">
                                <li><a href="javascript:void(0)">Entrée en relation</a></li>
                                <li class="active"><a href="javascript:void(0)">Espace client</a>
                                    <ul class="sub-menu">
                                        <li class="active"><a href="javascript:void(0)">
                                            Dashboard
                                        </a></li>
                                        <li><a href="javascript:void(0)">
                                            Métriques
                                        </a></li>
                                        <li><a href="javascript:void(0)">
                                            Historique
                                        </a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)">BSS</a></li>
                                <li><a href="javascript:void(0)">États</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)"><i class="fa fa-list-alt"></i><span class="title"> RIB </span></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </nav>
        </div>
        <div class="ec-main-container inner">
            <div class="main-content">
                <!--Contenu de la page-->
                <div class="page-content" ng-view>

                </div>
                <!--Fin du contenu de la page-->
            </div>
        </div>
    </div>
</div>
<script src="static/js/js-core.min.js"></script>
<script src="static/js/menu.js"></script>
<script src="static/js/home/controller.js"></script>
<script src="static/js/app.js"></script>
</body>
</html>